### To ceate dataset

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
lables=['a','b','c','d']
samplelist=[20,30,40,50]
array=np.array([2,3,4,5])
dict={'a':100,'b':200,'c':300,'d':400}

### uni dimensional data = Series
### Multidimensional data = DataFrame

#### Series

In [4]:
pd.Series(data=array)

0    2
1    3
2    4
3    5
dtype: int32

In [5]:
pd.Series(data=dict)

a    100
b    200
c    300
d    400
dtype: int64

In [6]:
pd.Series(data=samplelist,index=lables)

a    20
b    30
c    40
d    50
dtype: int64

In [7]:
pd.Series(array,samplelist)

20    2
30    3
40    4
50    5
dtype: int32

In [8]:
pd.Series(samplelist,array)

2    20
3    30
4    40
5    50
dtype: int64

### Index , Data

In [11]:
s=pd.Series([1,2,3,4], index=['rose','daisy','jasmine','sunflower'])
s

rose         1
daisy        2
jasmine      3
sunflower    4
dtype: int64

In [12]:
s=pd.Series([1,2,3,4], ['rose','daisy','jasmine','sunflower'])
s

rose         1
daisy        2
jasmine      3
sunflower    4
dtype: int64

In [13]:
p=pd.Series([13,25,36,47], index=['rose','paper','jasmine','sunflower'])
p

rose         13
paper        25
jasmine      36
sunflower    47
dtype: int64

In [15]:
q=s+p
q

daisy         NaN
jasmine      39.0
paper         NaN
rose         14.0
sunflower    51.0
dtype: float64

### DataFrame

In [19]:
df1= pd.DataFrame((np.random.randn(6,4),'A B C D E F'))

C:\Users\UDHAY\anaconda3\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [24]:
df1= pd.DataFrame(np.random.randn(6,4),'A B C D E F')
df1

TypeError: Index(...) must be called with a collection of some kind, 'A B C D E F' was passed

In [23]:
df1= pd.DataFrame(np.random.randn(6,4),'A B C D E F'.split())
df1

          0         1         2         3
A -0.836805 -1.458863 -0.556189 -0.848171
B -1.913728 -0.849904 -0.099863  0.847072
C -1.133373 -0.321049 -0.652574  0.766133
D -0.647660 -0.831394 -1.407356 -1.271667
E  1.124692  0.297942  0.580459 -1.115560
F  0.738607 -0.609249 -1.028994 -0.984419

In [25]:
df1= pd.DataFrame(np.random.randn(6,4),index='A B C D E F'.split(),columns='S1 S2 S3 S4')
df1

TypeError: Index(...) must be called with a collection of some kind, 'S1 S2 S3 S4' was passed

In [26]:
df1= pd.DataFrame(np.random.randn(6,4),index='A B C D E F'.split(),columns='S1 S2 S3 S4'.split())
df1

         S1        S2        S3        S4
A  0.078823 -1.685359 -0.599529  1.601785
B  1.711919  0.385651 -0.605462 -1.886751
C  0.695488 -0.770623  0.466971 -0.787379
D -1.649990 -0.292573  1.860789  2.085363
E -1.906544 -1.311887  0.249800  0.140409
F  1.463218 -1.404440  1.128149  1.088346

### To extract a single column

In [27]:
df1["S3"]

A   -0.599529
B   -0.605462
C    0.466971
D    1.860789
E    0.249800
F    1.128149
Name: S3, dtype: float64

In [28]:
df1["S3,S4"]

KeyError: 'S3,S4'

In [30]:
df1[["S3","S4"]]

         S3        S4
A -0.599529  1.601785
B -0.605462 -1.886751
C  0.466971 -0.787379
D  1.860789  2.085363
E  0.249800  0.140409
F  1.128149  1.088346

In [32]:
df1['S5'] = df1['S3']-df1['S2']
df1

         S1        S2        S3        S4        S5
A  0.078823 -1.685359 -0.599529  1.601785  1.085830
B  1.711919  0.385651 -0.605462 -1.886751 -0.991112
C  0.695488 -0.770623  0.466971 -0.787379  1.237594
D -1.649990 -0.292573  1.860789  2.085363  2.153361
E -1.906544 -1.311887  0.249800  0.140409  1.561687
F  1.463218 -1.404440  1.128149  1.088346  2.532589

#### Another dataset

In [37]:
dist1={'ID':[10,20, 30, 40, 50], 'Name': ['Anu','Aasha','Siv','latha','nith'],'Profit':[40,56,43,20,78.4]}
df2=pd.DataFrame(dist1)
df2

   ID   Name  Profit
0  10    Anu    40.0
1  20  Aasha    56.0
2  30    Siv    43.0
3  40  latha    20.0
4  50   nith    78.4